html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inconsolata", sans-serif;
}

.noticia1,.noticia2,.noticia3{
    background-color:black;
}
.tituloIndex{
    color:#e1e1e1;
    margin-top: 0px;
    margin-bottom: 80px;
    text-align: center;
    background-color:black;
    border-top: 3px solid black;
}

.tituloIndex span{

    color: red;

}

.Contenedor-nav-principal{

  background-color:black ; 

}

.contenedor {
    background-color: black;
    padding: 20px;

}

.header {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(76, 74, 74);
}

.logo{
    background-image: url('../img/LOGO.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px; 
    height: 100px; 
    background-color: black;
    float:initial;
    
}

.sobre-nosotros{
    display:flex;
    height:400px;
}
.box-1{
    background-image: url('../img/Coche1.jpeg');
    background-position: left center;
    background-repeat:no-repeat;
    background-size:cover;
    flex-basis:70%;
}

.box-2{
    background-color: black;
    color: rgb(76, 74, 74);
    text-align: justify;
    padding: 100px;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listado {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 20px;
    text-align: center;
    color: gray;
    background-color: white;
}

.Numero1 {
    grid-column-start: 1;
    grid-column-end: 1;
}
.Numero2 {
    grid-column-start: 2;
    grid-column-end: 2;
}
.Numero3 {
    grid-column-start: 3;
    grid-column-end: 3;
}
.Numero1 video{

    width: 300px;
    height: 200px; 
    object-fit: cover;
    margin-top:20px;
    margin-bottom: 20px;
}

.Numero1 img{
  width: 300px;
  height: 200px; 
  object-fit: cover;
  margin-top:20px;
  margin-bottom: 20px;
}

.Numero2 img{

    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-top:20px;
    margin-bottom: 20px;

}

.Numero3 img{

    width: 300px;
    height: 200px; 
    object-fit: cover;
    margin-top:20px;
    margin-bottom: 20px;

}
.info{
    text-align: center;
    color: gray;
    padding: 20px;

}

.Numero1, .Numero2, .Numero3{

    background-color: black;
}

.btn{
    background-color:black;
    display: block;/*Funcion bloque*/
    color:red;
    transition: background-color 0.3s ease-out;
    text-transform:uppercase;
    font-weight: 900;
    padding:10px;
    margin-top:10px;
}
.TituloCatologo{
    color:gray ; 
}

.table {
    width: 100%;
    border-collapse: collapse;
}
.th {
    border: 1px solid #dddddd;
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
  }
.td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: gray;
}

.Caja {
    display: flex;
    height: 100%;
    background-color: black;
  }

  .imagen-caja {
    flex: 1;
    position: relative;
    margin-left: 80px;
    margin-top: 40px;
  }

  .imagenbase {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
  }

  .imagendetras {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: auto;
  }

  .texto-caja {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  .textocaja {
    color: gray;
  }
  

   .imagen-caja:hover .imagenbase {
    opacity: 0;
  }
  
  .imagen-caja:hover .imagendetras {
    opacity: 1;
  }
  
  .caja2 {
    display: flex;
    height: 100%;
    background-color: black;
  }
  
  .imagen-caja2 {
    flex: 1;
    position: relative;
    margin-left: 80px;
    margin-top: 40px;
  }
  
  .imagenbase2 {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
  }
  
  .imagendetras2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: auto;
  }
  
  .texto-caja2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;

  }
  .textocaja2{
    color: gray;
  }
  
  .imagen-caja2:hover .imagenbase2 {
    opacity: 0;
  }
  
  .imagen-caja2:hover .imagendetras2 {
    opacity: 1;
  }

  .listadocontacto{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 20px;
    text-align: center;
    color: gray;
    background-color: white;
}

.contacto1 img{

  width: 300px; /* Ancho deseado */
  height: 200px; /* Altura deseada */
  object-fit: cover;
  margin-top:20px;
  margin-bottom: 20px;
}

.contacto2 img{

  width: 300px; 
  height: 200px; 
  object-fit: cover;
  margin-top:20px;
  margin-bottom: 20px;

}


.contacto3 img{

  width: 300px;
  height: 200px; 
  object-fit: cover;
  margin-top:20px;
  margin-bottom: 20px;
}

.info-contacto{
  text-align: center;
  color: gray;
  padding: 20px;

}

.fieldset {
  border: 1px solid gray;
  padding: 20px;
  margin-bottom: 20px;
}

.legend {
  font-weight: bold;
  font-size: 1.2em;
  color: gray;
}

.label {
  display: block;
  margin-bottom: 10px;
  color: gray;
}

.input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: gray;
    margin-left: 3px;
  }
  
.input[type="radio"] {
    margin-right: 5px;
  }
  
.input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
.input[type="submit"]:hover {
    background-color: #45a049;
  }
